body {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}

/* Navbar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

.menus ul {
    display: flex;
    list-style: none;
}

.menus ul li a {
    text-decoration: none;
    color: #3A3A3A;
    margin: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;

}

.mob-nav {
    display: none;
}

.shopping-cart a {
    text-decoration: none;
    color: #000;
}

/* header style */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}

.header-speach {
    /* width: 700px; */
    /* height: 475px; */
}

.header-speach h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    /* or 135% */


    color: #3A3A3A;
}

.header-speach p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;

    color: #3A3A3A;
}

.header-speach .preebook {
    background-color: rgba(224, 44, 109, 0.87);
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

.header-image {
    background-image: url("../images/Circle\ design.svg");
    width: 475px;
    height: 475px;
}

.header-image img {
    width: 440px;
    height: 414px;
}

/* brand Image */
.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* align-items: center; */
}

.brand-images img {
    /* margin-right: 40px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 16px;


}

.brand-images hr {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-gallary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.product {
    width: 329px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;


}

.product-description {
    margin: 16px;
}

.product img {
    width: 300px;
    height: 256px;
    margin: 16px;
}

.button-see-more {
    margin-top: 50px;
}

.button-see-more button {
    background-color: transparent;
    border: 0px;


}

.button-see-more a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: rgba(224, 44, 109, 0.87);
}

/* subscribe */
.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe-now {
    width: 610px;
}

.subscribe-now-button {
    border: 0px;
    background-color: rgba(224, 44, 109, 0.87);
}

.subscribe a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

/* footer Style */
footer {
    background-color: #0A0826;
    margin-top: 100px;

}

.footer-info {
    padding: 50px;
    margin: 0 auto;
    color: #FFFFFF;
    width: 328px;
    text-align: center;
}

.footer-info a {
    text-decoration: none;
    color: #FFFFFF
}

.footer-info .fa-brands {
    font-size: 32px;
    margin-right: 16px;
}

@media screen and (max-width : 576px) {
    .web-nav {
        display: none;
    }

    .mob-nav {
        display: flex;
    }

    header {
        flex-direction: column-reverse;
    }

    .header-speach {
        text-align: center;
    }

    .brand-images {
        flex-direction: row;

        flex-wrap: wrap;
    }

    .products {
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
    }

    .subscribe {
        flex-direction: column-reverse;
    }

    .subscribe-now {
        width: 80vw;
        text-align: center;
        margin: 100px;
    }
}